body {
  margin: 0;
  background: #1d1328;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
}

#gameContainer {
  position: relative;
}

canvas {
  background: black;
  border: 4px solid #5f3b2d;
  image-rendering: pixelated;
}

#menu {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: linear-gradient(#6387c6, #c78966);
}

#menu h1 {
  color: #f1d6a4;

  background: #5b3a2c;

  padding: 15px 40px;

  border: 4px solid #c9a16e;

  font-size: 42px;

  margin-bottom: 40px;
}

button {
  width: 220px;

  padding: 12px;

  margin: 10px;

  font-size: 24px;

  background: #5b3a2c;

  color: #f1d6a4;

  border: 3px solid #c9a16e;

  cursor: pointer;
}

button:hover {
  background: #764b38;
}